<%- include('../partials/header') %>

<h2>All destinations show</h2>

<form action="/destinations" method="GET">
  <button type="submit">Show All Destinations</button>
</form>

<table>
  <thead>
    <tr>
      <th>Destinations</th>
      <th>Activities</th>
      <th>Foods</th>
        <th>Photos</th>
      <th>Tips</th>
    </tr>
  </thead>
  <tbody>
    <% destinations.forEach(function(destination) { %>
      <tr>
        <td><%= destination.country %></td>
        <td><%= destination.city %></td>
        <td><%= destination.activity %></td>
        <td><%= destination.foods %></td>
        <td><%= destination.photos %></td>
        <td><%= destination.tips %></td>
        <td><a href="/destinations/<%= destination.id %>">Show</a></td>
        <td><a href="/destinations/<%= destination.id %>/edit">Edit</a></td>
        <td>
          <form action="/destinations/<%= destination.id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>
        </td>
        </tr>
    <% }) %>
    </tbody>
</table>

<%- include('../partials/footer') %>